<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print" />
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" media="all" type="text/css" href="/static/css/pygments_style.css" />
  <link rel="stylesheet" media="screen" type="text/css" href="/static/css/jquery.lightbox.css" />
  <link rel="stylesheet" media="all" type="text/css"  href="/static/css/stylev2.css" />
  <link rel="stylesheet" media="all" type="text/css" href="/static/css/libgithub.css" />
  <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
  <script type="text/javascript" src="/static/js/excanvas-compressed.js"></script>
  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/jquery.lightbox.pack.js"></script>
  <script type="text/javascript" src="/static/js/humane.js"></script>
  <script type="text/javascript" src="/static/js/date.js"></script>
  <script type="text/javascript" src="/static/js/md5.js"></script>
  <script type="text/javascript" src="/static/js/libgithub.min.js"></script>
  <script type="text/javascript" src="/static/js/cvi_glossy_lib.js"></script>
  <script type="text/javascript">
    $(function() {
      $('a.lightbox').lightBox({
        imageLoading: '/static/images/lightbox-ico-loading.gif',
        imageBtnClose: '/static/images/lightbox-btn-close.gif',
        imageBtnPrev: '/static/images/lightbox-btn-prev.gif',
        imageBtnNext: '/static/images/lightbox-btn-next.gif'});
    });
  </script>
</head>
<body>
  <div class="container">
    <div class="span-1">
     &nbsp;
    </div>
    <div class="span-22">
      <div class="span-22 header">
        <div class="span-4">
          &nbsp;
        </div>
        <div class="span-7 inf">
          &nbsp;
        </div>
        <div class="span-12 pull-3 qp">
          &nbsp;
        </div>
      </div>
      <div class="span-22 tabs">
        <div class="span-2">&nbsp;</div>
        <div class="span-3 tab{% if page.url == '/index.html' %} active{% endif %}"><a href="/">home</a></div>
        <div class="span-3 tab"><a href="/blog">blog</a></div>
        <div class="span-3 tab{% if page.url == '/works/index.html' %} active{% endif %}"><a href="/works">works</a></div>
        <div class="span-3 tab{% if page.url == '/projects/index.html' %} active{% endif %}"><a href="/projects">projects</a></div>
        <div class="span-3 tab{% if page.url == '/bio/index.html' %} active{% endif %}"><a href="/bio">bio</a></div>
        <div class="span-3 tab{% if page.url == '/contact/index.html' %} active{% endif %}"><a href="/contact">contact</a></div>
      </div>
      <div class="span-22 main hs">

      <div class="content">
        {{ content }}
      </div>

      </div>
      <div class="span-22 footer">
        <p class="left">&copy; {{ 'now' | date: "%Y" }} Matt Sparks. <a target="_blank" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">Some rights reserved.</a></p>
        <p class="right">
          Generated by <a href="/projects/infinitemachine">Infinite
          Machine</a>.  Hosted by the
          awesome <a href="http://www.linode.com/?r=7eea34b3a5d3b3fd0e60d3544711f48bfa643841"
          target="_blank" title="Use this referral link when you order your
          virtual servers!">Linode</a>.
        </p>
      </div>
    </div>
  </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
  var pageTracker = _gat._getTracker("UA-4064625-2");
  pageTracker._trackPageview();
} catch(err) {}
</script>
</body>
</html>
